html,
body {
    background-color: #333;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: #aaa;
    border-right: 4px  solid #841414;
    animation: text-blink 0.75s step-end infinite;
}

@keyframes text-blink {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #841414;
    }
}